body{
    height: 100vh;
    width: 100vw;
    background-color: pink;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;

}
.container{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(218, 7, 7);
  
}
#input{
    height: 30px;
    width: 150px;
    margin: 20px;
    background-color: pink;
    border: 1px solid rgb(148, 123, 123);
    border-radius: 50px;
}
#btn{
    background-color: pink;
    border-radius: 50px;
}
.task{
   color: red;
   font-size: 20px;
   
}
